@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /**/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 600px;
}

.header, .footer {
  padding: 14px;

  gap: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #fcfcfc;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

a {
  text-decoration: none;
  color: gray;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px 12px 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
