body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  /*justify-content: space-between; removed shrink from head and foot*/
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;

  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-grow: 1;

  /*align-items: stretch; was being restricted by space between before*/
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  padding: 16px;

  flex-shrink: 0;
}

.sidebar a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding-bottom: 16px;
  /*didnt notie this*/
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  flex-basis: 300px;
  padding: 16px;
}

.card-container {
  display: flex;
  /*align-items: stretch;*/

  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}