.header  {
  font-family: monospace;
  background: papayawhip;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;

  margin: 0 auto 0 auto;
  /**/
  flex: 0 1 0;
  min-width: auto;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;

  display: flex;
  gap: 8px;

  border: 1px dotted black;
  margin: 0px;
  padding: 0px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;

}